@include component(introduction) {

    @include part(headline) {
        margin: 0;
        font-weight: $light;
        @include animation(fadeInDown, .5s, .1s, ease-out, backwards);
    }

    @include part(sub-headline) {
        margin: 0;
        font-size: $font-size-large;
        font-weight: $light;
        @include animation(fadeIn, .4s, .5s, ease-out, backwards);
    }

}
